---
import Layout from '~/layouts/PageLayout.astro';

import HeroCustom from '~/components/widgets/HeroCustom.astro';
import Features2Custom from '~/components/widgets/Features2Custom.astro';
import { getPermalink } from '~/utils/permalinks';
import Icon from 'node_modules/astro-icon/components/Icon.astro';
import Recommend from '~/components/react/Recommend';

const metadata = {
  title: 'Recommend.parf.ai — Demo project to detect anomalies in cookies',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <HeroCustom>
    <Fragment slot="title">
      <span class="text-[#2a9d8f] highlight">Recommend</span> news article<span class="ml-1 inline-block"
        ><Icon name="tabler:news" /></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Select a user id and see its prediction from a servless inference endpoint</span
      >
    </Fragment>
  </HeroCustom>

  <Recommend/>

</Layout>
